@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Sofia+Sans+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: rgb(237, 234, 234);
}

.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: white;;
}

.cabecalho span{
    color:red;
    font-size:1.2em;
    font-weight:bold;
    flex-grow: 1;
    margin-left: 10px;
    background-color: white;
}

#location-header{
    color:rgb(255, 0, 0);
}

.fa-magnifying-glass{
    color: gray;
}

.main-content{
    display: block;
    position: relative;
}

.main-box{
    position: absolute;
    display:flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: white;
    max-width: 920px;
    width: 90%;
}

.main-content img{
    width: 100%;
    height: 100vh;
}

.main-box-top{
    display: flex;
    width: 100%;
}

.main-box-top div{
    color:white;
    text-align: center;
    padding: 5px 0;
}

.top-red{
    background-color: red;
    width: 33.4%;
}

.top-black{
    background-color: black;
    width: 33.5%;
}

.main-box-content{
    display: flex;
    flex-direction: column;
    padding:20px 30px;
    margin: 0 8px;
    gap: 20px;
}

.main-box-content{
    width: 100%;
}

.main-form{
    display:flex;
}

.main-form span{
    flex-grow: 1;
    margin-right: 10px;
}

#input{
    flex-grow: 1;
    width: 100%;
    height: 30px;
    border: 0.2px solid rgb(222, 202, 202);
    padding: 20px 0;
}

.main-box button{
    display: block;
    background-color: gray;
    border: none;
    color: white;
    width: 180px;
    height: 30px;
}

.container{
    margin: 30px 10%;
}

img{
    display: block;
    max-width: 100%;
}

.offer-text{
    margin: 10px 0;
}

.container-grid{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
}

.grid-item:nth-child(1){
    grid-row: 1/3;
    margin-left: 0;
}

.grid-item{
    margin: 10px;
    height: 100%;
    display: grid;
}

.grid-item img{
    grid-column: 1;
    grid-row: 1/3;
}

.grid-item p{
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
}

.explore-text{
    margin-bottom: 10px;
}

.container-explore{
    display: flex;
    gap: 0 20px;
}

.card{
    background-color: white;
    max-width: 688;
    width: 100%;
}

.card-price{
    padding: 10px;
}

.card-text{
    padding: 10px;
    font-weight: 600;
}

.get-email{
    background-color: rgb(80, 77, 77);
    padding: 20px 15px;
    color:white;
}

.get-email-text{
   margin: 10px 0;
}

#input-email{
    display: flex;
    flex-direction: column;
}

#input-email > input{
    padding: 10px;
    margin-top: 2px;
}

#email-button{
    background-color: rgb(250, 121, 125);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 15px;
}

.contact-text{
    margin: 20px 0;
    font-weight: bold;
}

.fa-phone, .fa-envelope, #location-contact{
    margin-right: 20px;
}

.contact-info{
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-flex{
    display: flex;
    flex-direction: column;
}
.contact-input{
    margin-top: 20px;
    padding: 20px 0px;
}

.contact-button{
    padding: 15px 40px;
    margin-top: 20px;
    background-color: black;
    color:white;
    font-weight: bold;
}

.rodape-flex{
    display: flex;
    justify-content: center;
    gap: 5px;
    color: rgb(113, 111, 111);
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

@media (max-width: 450px){
    .main-content img{
        display:none;
    }

    .main-content{
        top: 140px;
    }

    .container-grid{
        margin-top: 180px;
    }

    .main-box-content > h2{
        font-size: 1.2em;
        text-align: center;
        margin-right: 15px;
    }

    .get-email h1, .explore-text{
        font-size: 1.3em;
    }
    .explore-text{
        font-size: 0.8em;
    }
}

@media (max-width: 600px){
    .container-explore{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        margin: 10px 0;
    }

    .container-grid{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #cinqueterre, #cinqueterre ~ p{
        margin-left: 10px;
        width: 96%;
    }
}