@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Sofia+Sans+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.cabecalho span{
    color:red;
    font-size:1.2em;
    font-weight:bold;
    flex-grow: 1;
    margin-left: 10px;
}

.fa-location-dot{
    color:rgb(250, 0, 0);
}

.fa-magnifying-glass{
    color: gray;
}

.main-content{
    display: block;
    position: relative;
}

.main-box{
    position: absolute;
    display:flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: white;
    max-width: 920px;
    width: 100%;
}

.main-content img{
    width: 100%;
    height: 100vh;
}

.main-box-top{
    display: flex;
    width: 100%;
}

.main-box-top div{
    color:white;
    width: 33.4%;
    text-align: center;
    padding: 5px 0;
}

.top-red{
    background-color: red;
}

.top-black{
    background-color: black;
}

.main-box-content{
    display: flex;
    flex-direction: column;
    padding:20px 30px;
    margin: 0 8px;
    gap: 20px;
}

.main-form{
    display:flex;
}

.main-form span{
    flex-grow: 1;
    margin-right: 10px;
}

#input{
    flex-grow: 1;
    width: 100%;
    height: 30px;
    border: 0.2px solid rgb(193, 188, 188);
}

.main-box button{
    display: block;
    background-color: gray;
    border: none;
    color: white;
    width: 180px;
    height: 30px;
}

.container{
    margin: 30px 4%;
}

img{
    display: block;
    max-width: 100%;
}

.container-grid{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
}

.grid-item:nth-child(1){
    grid-row: 1/3;
    margin-left: 0;
}

.grid-item{
    margin: 10px;
    height: 100%;
    display: grid;
}

.grid-item img{
    grid-column: 1;
    grid-row: 1/3;
}

.grid-item p{
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
}